.course-container {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .course-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .course-description {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .course-topics {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .course-topics li {
    font-size: 16px;
    color: #666;
    margin-bottom: 8px;
  }
  .course-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .course-button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #fca311;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .course-button:hover {
    background-color: #e89e0c;
  }
  
  .course-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fca311;
  }
  