.fieldset-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: antiquewhite;
  border: 2px black solid;
  border-radius: 10px;
}
.header-filter {
  font-size: large;
  font-weight: 600;
}
.form-fildset {
  /* margin-right: 1rem;  */
  border: none;
  padding: 0;
  width: fit-content;
}

.submit-filter {
  background-color: whitesmoke;
  height: 7vh;
  align-self: center;
  font-size: px;
  font-weight: bold;
  text-transform: uppercase;
  color: #4d3c20;
  background-color: #f5efe4;
  border: solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit-filter:hover {
  background-color: #f5efe4;
  

}
.filter-bar-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  /* align-self: flex-start; */
}
.fieldset-container-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: antiquewhite;
  border: 2px black solid;
  border-radius: 10px;
  align-self: center;
}
.header-filter-mobile {
  font-size: large;
  font-weight: 600;
}
.form-fildset-mobile {
  /* margin-right: 1rem;  */
  border: none;
  padding: 0;
  width: fit-content;
  margin-bottom: 2vh;
}

.filter-bar-mobile-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.submit-filter-mobile {
  background-color: whitesmoke;
  height: 6vh;
  align-self: center;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #4d3c20;
  background-color: #f5efe4;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.show-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.button-continer-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-mobile {
  display: none;
  border: black solid 0.1em;
  background-color: #d1be9c;
}
@media (max-width: 768px) {
  .nav-mobile {
    display: block;
  }
  .fieldset-container {
    display: none;
  }
}
