.EventPage{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    background-image: url("C:\Users\97250\OneDrive\שולחן העבודה\code\Middle-project\pictures\pexels-henry-&-co-1939485.jpg");
}
.openning{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    align-self: center;
}
.fit4u{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 2vh;
}