
   .headline-event {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .event-container {
    display: grid;
    grid-template-areas: 'calendar event-description';
    grid-gap: 20px;
    background-color: #ffffff;
  }
  
  .event-description {
    grid-area: event-description;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
  }
  
  .event-image > img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .event-explain {
    text-align: center;
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    line-height: 1.4;
  }
  
  .calendar {
    grid-area: calendar;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .event-description:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-bottom: 10px;
  }
  .event-details{
    
    /* list-style: circle; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* text-align: center; */
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .event-details-li{
    margin-bottom: 10px;
  font-size: 16px;
  /* gap: 10px; */
  display: flex;
  align-items: center;
  /* padding-left: 15px; */
  }
  .event-details-li:before {
    content: "•";
    display: inline-block;
    margin-right: 5px;
    color: #888;
  }

  .event-button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #fca311;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .event-button:hover {
    background-color: #e89e0c;
  }
  
  .event-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fca311;
  }
  @media (max-width: 870px) {
    .event-container {
      grid-template-areas: 'event-description' 'calendar';
      padding: 10px;

    }
  
    .calendar {
      justify-content: flex-start;
    }
  }
  
  @media (max-width: 576px) {
    .event-description {
      padding: 10px;
    }
  }