@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway&family=Sedgwick+Ave+Display&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
}
body {
  height: 100vh;
}
#root {
  height: 100%;
}
